.getProduct-image img{
    width: 300px;
    height: 300px;
}
.getProduct h3{
    color: #282828;
    font-size: 22px;
    font-weight: 700;
}
.description{
    color: rgb(86, 86, 86);
    font-size: 14px;
    font-weight: 600;
}
.prices-descripe{
    font-weight: 600;
}
.prices p{
    margin: 0;
}