.BussinessSummery {
  padding: 100px 0;
}
.BussinessSummery-img {
  position: relative;
}
.BussinessSummery-img img:nth-child(1) {
  -webkit-animation: summery-ani 10s linear infinite alternate forwards;
  animation: summery-ani 10s linear infinite alternate forwards;
}
.BussinessSummery-img img:nth-child(2) {
  position: absolute;
  left: 0;
  bottom: -100px;
}
@keyframes summery-ani {
  0%,
  100% {
    border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
  }
}
.BusinessSummery-content h3 {
  color: #fa5f0b;
  font-weight: 500;
  font-size: 17px;
  margin-bottom: 8px;
}
.BusinessSummery-content h2 {
  font-weight: 600;
  font-size: 38px;
  color: #282828;
  text-transform: capitalize;
}
.BusinessSummery-icon {
  font-size: 30px;
  color: #282828;
}
.BusinessSummery-project h3 {
  font-size: 38px;
  color: #fa5f0b;
  text-transform: capitalize;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.BusinessSummery-project p {
  font-weight: 500;
  color: #282828;
}
.common-button {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  background-color: #fa5f0b;
  border-radius: 5px;
  padding: 12px 20px;
  position: relative;
  z-index: 1;
  transition: 0.5s all ease;
  border: none;
  text-transform: capitalize;
}
.common-button::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 0%;
  left: 0;
  top: 0;
  background-color: #282828;
  border-radius: 5px 5px 0 0;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  opacity: 0;
  z-index: -1;
}

.common-button::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0%;
  left: 0;
  bottom: 0;
  background-color: #282828;
  border-radius: 0 0 5px 5px;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  opacity: 0;
  z-index: -1;
}
.common-button:hover::after {
  opacity: 1;
  height: 50%;
}
.common-button:hover::before {
  opacity: 1;
  height: 50%;
}
